@import 'tailwindcss';
@theme {
  /* //// font  */
  --font-sans: 'YEKAN-BAKH', sans-serif;

  /* ///// color  */
  --color-main-white: rgba(247, 247, 247, 1);
  --color-second-white: rgba(245, 245, 245, 1);
  --color-white-bg: rgba(255, 255, 255, 1);
  --color-orange-main: rgba(248, 107, 43, 1);
  --color-orange-second: rgba(255, 51, 76, 1);

  /* //// border  */
  --color-main-border: rgba(228, 228, 228, 1);
  --color-white-border: rgba(255, 255, 255, 1);

  /* //// text  */
  --color-main-text: rgba(4, 4, 4, 1);
  --color-title-text: rgba(33, 33, 33, 1);
  --color-second-text: rgba(33, 33, 33, 1);
  --color-green-bg: rgba(233, 249, 241, 1);
  --color-green-txt: rgba(72, 212, 138, 1);
  --color-gray-subtitle: rgba(124, 124, 124, 1);

  /* //// shadow  */
  --shadow-profile:
    -0.44px 0.88px 2.19px 0px rgba(0, 0, 0, 0.18), -2.19px 3.5px 4.38px 0px rgba(0, 0, 0, 0.12),
    -5.25px 8.31px 5.69px 0px rgba(0, 0, 0, 0.06), -8.75px 14.88px 7px 0px rgba(0, 0, 0, 0.02);

  --shadow-btn:
    0px 4px 12px 0px rgba(255, 255, 255, 0.32) inset,
    0px -4px 8px 0px rgba(255, 255, 255, 0.32) inset;

  --shadow-modal: box-shadow: 0px 4px 49px 0px rgba(202, 202, 202, 0.56);
}

body {
  background-color: var(--color-main-white);
}

@utility mobile-text {
  @apply text-sm leading-7 font-normal;
}

@utility title-button-desktop {
  @apply text-sm leading-7 font-semibold;
}

@utility title-button-mobile {
  @apply text-xs leading-6 font-semibold;
}

@utility desktop-text {
  @apply text-base leading-8 font-normal;
}

@font-face {
  font-family: 'YEKAN-BAKH';
  src: url('/Fonts/YEKAN-BAKH-FANUM-04-REGULAR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YEKAN-BAKH';
  src: url('/Fonts/YEKAN-BAKH-FANUM-05-MEDIUM.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YEKAN-BAKH';
  src: url('/Fonts/YEKAN-BAKH-FANUM-06-BOLD.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'YEKAN-BAKH';
  src: url('/Fonts/YEKAN-BAKH-FANUM-07-HEAVY.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ///// custom toastification  */
.Vue-Toastification__toast-body.custom-toast {
  font-family: var(--font-sans);
  font-size: 14px;
}

@media screen and (max-width: 450px) {
  .Vue-Toastification__toast-body.custom-toast {
    font-size: 12px;
  }
}
